@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  font-family: "Rubik", sans-serif;
  font-size: clamp(0.875rem, 0.8421rem + 0.1754vw, 1rem);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  display: grid;
  place-items: center;
  background-color: hsl(226deg, 43%, 10%);
}

.container {
  color: white;
  width: min(70rem, 90%);
  margin: auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "profile work play study" "profile exercise social self-care";
}
.container__profile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-area: profile;
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 15px;
  overflow: hidden;
}
.container__profile-top {
  background-color: hsl(246deg, 80%, 60%);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  padding: 1.5rem;
}
.container__profile-image {
  width: 75px;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.container__description {
  margin-bottom: 2rem;
}
.container__description span:nth-child(1) {
  color: hsl(236deg, 100%, 87%);
  display: block;
}
.container__description span:nth-child(2) {
  font-size: clamp(1.5625rem, 1.3158rem + 1.3158vw, 2.5rem);
  font-weight: 300;
}
.container__list {
  display: flex;
  font-weight: 500;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.5rem;
}
.container__list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: hsl(235deg, 45%, 61%);
  transition: color 0.25s ease-in-out;
}
.container__list button:hover {
  color: hsl(236deg, 100%, 87%);
}
.container__list button:disabled {
  color: hsl(235deg, 29%, 39%);
}
.container__card {
  background-clip: content-box;
  z-index: 0;
  position: relative;
  padding-top: 2.5rem;
  overflow: hidden;
  border-radius: 15px;
}
.container__card-icon {
  position: absolute;
  top: -1%;
  right: 5%;
  z-index: -1;
}
.container__card-title {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__card-content {
  background-color: hsl(235deg, 46%, 20%);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: clamp(1rem, -0.25rem + 2.5vw, 2rem);
  transition: transform 1s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.container__card-content:hover {
  background-color: hsl(235deg, 46%, 30%);
}
.container__ellipsis {
  filter: invert(90%) sepia(21%) saturate(6009%) hue-rotate(190deg) brightness(101%) contrast(109%);
  transition: filter 0.5s ease-in-out;
  cursor: pointer;
}
.container__ellipsis:hover {
  filter: brightness(0) saturate(100%) invert(98%) sepia(0%) saturate(7498%) hue-rotate(321deg) brightness(101%) contrast(102%);
}
.container .container__card-data-now {
  font-weight: 300;
  font-size: 3rem;
  display: block;
}
.container .container__card-data-previous {
  color: hsl(236deg, 100%, 87%);
}
.container__card.work {
  background: linear-gradient(to bottom, hsl(15deg, 100%, 70%) 93%, hsl(235deg, 46%, 20%) 0%);
  grid-area: work;
}
.container__card.play {
  grid-area: play;
  background: linear-gradient(to bottom, hsl(195deg, 74%, 62%) 93%, hsl(235deg, 46%, 20%) 0%);
}
.container__card.study {
  grid-area: study;
  background: linear-gradient(to bottom, hsl(348deg, 100%, 68%) 93%, hsl(235deg, 46%, 20%) 0%);
}
.container__card.exercise {
  grid-area: exercise;
  background: linear-gradient(to bottom, hsl(145deg, 58%, 55%) 93%, hsl(235deg, 46%, 20%) 0%);
}
.container__card.social {
  grid-area: social;
  background: linear-gradient(to bottom, hsl(264deg, 64%, 52%) 93%, hsl(235deg, 46%, 20%) 0%);
}
.container__card.self-care {
  grid-area: self-care;
  background: linear-gradient(to bottom, hsl(43deg, 84%, 65%) 90%, hsl(235deg, 46%, 20%) 0%);
}

@-webkit-keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(85%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(85%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding-block: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "profile work play" "profile study exercise" "profile social self-care";
  }
  .container__profile {
    place-self: center;
  }
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "profile" "work" "play" "study" "exercise" "social" "self-care";
  }
  .container > div {
    width: min(26rem, 90%);
    margin: auto;
  }
  .container__profile {
    place-self: auto;
    display: block;
  }
  .container__profile-top {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .container__profile-top > * {
    margin-bottom: 0;
  }
  .container__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .container__card-content > div:nth-child(2) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
  }
}/*# sourceMappingURL=style.css.map */
